<!-- Content -->
<div class="content">
  <div class="container chart-wrapper">
    <div class="bg-blur"></div>
    <div class="bg-alpha"></div>
    <div class="bg-alpha-1"></div>
    <div class="section-header">
      <div class="chart-title">
        <h3 class="title">#zingchart</h3>
        <button>
          <i class="fas fa-play"></i>
        </button>
      </div>
    </div>
    <div class="zm-chart-container">
      <canvas id="myChart" width="400" height="100"></canvas>
    </div>
    <div class="list-song">
      @* chart song item top 10 *@
      @{
        int i = 1;
        foreach (var song in ViewBag.Top10ZingChart)
        {
          <div class="chart-song-item">
            <input type="hidden" value="@song.SongUrl">
            <div class="row">
              <div class="col-md-6">
                <div class="row">
                  <div class="col-md-1">
                    <span class="number is-center">@(i++)</span>
                  </div>
                  <div class="col-md-1">
                    <i class="is-center z-icon ic-balance fas fa-window-minimize"></i>
                  </div>
                  <div class="col-md-1 song-thumb">
                    <figure>
                      <img class="is-40x40" src="@song.SongImage" alt="">
                    </figure>
                    <div class="zm-actions-container">
                      <button class="button">
                        <i class="fas fa-play"></i>
                      </button>
                    </div>
                  </div>
                  <div class="col-md-9 card-info">
                    <div class="title-wrapper">
                      <span>@song.Name</span>
                    </div>
                    <h3 class="subtitle">
                      <a href="">@song.SingersString</a>
                    </h3>
                  </div>
                </div>
              </div>
              <div class="col-md-6 media-right">
                <div class="row">
                  <div class="col-md-8 song-duration">
                    4:14
                  </div>
                  <div class="col-md-1"></div>
                  <div class="col-md-1">
                    <button class="button">
                      <i class="z-icon fas fa-microphone-alt"></i>
                    </button>
                  </div>
                  <div class="col-md-1">
                    <button class="button">
                      <i class="z-icon far fa-heart"></i>
                    </button>
                  </div>
                  <div class="col-md-1">
                    <button class="button">
                      <i class="z-icon fas fa-ellipsis-h"></i>
                    </button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        }
      }

    </div>

    <!-- TOP 100 -->
    <div class="is-center">
      <button class="show-all">Xem top 100</button>
    </div>
  </div>

  <!-- Week chart section -->
  <div class="container week-chart-section">
    <div class="section-header">
      <a href="" class="title">Bảng xếp hạng tuần</a>
    </div>
    <div class="row">
      <div class="col-md-4">
        <div class="week-chart-box">
          <div class="box-header">
            <a href="">Việt Nam</a>
            <button class="button zm-btn"><i class=" fas fa-play"></i></button>
          </div>
          <div class="list">
            <!-- row -->
            <div class="row top-song-item">
              <div class="col-1">
                <span class="number is-center">1</span>
              </div>
              <div class="col-1 gach-ngang">
                <i class="is-center z-icon ic-balance fas fa-window-minimize"></i>
              </div>
              <div class="col-1 song-thumb">
                <figure>
                  <img class="is-40x40" src="../assets/images/zingchart/sautuongtu.jpg" alt="">
                </figure>
                <div class="zm-actions-container">
                  <button class="button">
                    <i class="fas fa-play"></i>
                  </button>
                </div>
              </div>
              <div class="col-9 card-info-bxh">
                <div class="title-wrapper">
                  <span>Sầu tương tư</span>
                </div>
                <h3 class="subtitle">
                  <a href="">Nhật Phong</a>
                </h3>
              </div>
            </div>
          </div>
          <div class="is-center">
            <button class="show-all">Xem tất cả</button>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="week-chart-box">
          <div class="box-header">
            <a href="">Việt Nam</a>
            <button class="button zm-btn"><i class=" fas fa-play"></i></button>
          </div>
          <div class="list">
            <!-- row -->
            <div class="row top-song-item">
              <div class="col-1">
                <span class="number is-center">1</span>
              </div>
              <div class="col-1 gach-ngang">
                <i class="is-center z-icon ic-balance fas fa-window-minimize"></i>
              </div>
              <div class="col-1 song-thumb">
                <figure>
                  <img class="is-40x40" src="../assets/images/zingchart/sautuongtu.jpg" alt="">
                </figure>
                <div class="zm-actions-container">
                  <button class="button">
                    <i class="fas fa-play"></i>
                  </button>
                </div>
              </div>
              <div class="col-9 card-info-bxh">
                <div class="title-wrapper">
                  <span>Sầu tương tư</span>
                </div>
                <h3 class="subtitle">
                  <a href="">Nhật Phong</a>
                </h3>
              </div>
            </div>
          </div>
          <div class="is-center">
            <button class="show-all">Xem tất cả</button>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="week-chart-box">
          <div class="box-header">
            <a href="">Việt Nam</a>
            <button class="button zm-btn"><i class=" fas fa-play"></i></button>
          </div>
          <div class="list">
            <!-- row -->
            <div class="row top-song-item">
              <div class="col-1">
                <span class="number is-center">1</span>
              </div>
              <div class="col-1 gach-ngang">
                <i class="is-center z-icon ic-balance fas fa-window-minimize"></i>
              </div>
              <div class="col-1 song-thumb">
                <figure>
                  <img class="is-40x40" src="../assets/images/zingchart/sautuongtu.jpg" alt="">
                </figure>
                <div class="zm-actions-container">
                  <button class="button">
                    <i class="fas fa-play"></i>
                  </button>
                </div>
              </div>
              <div class="col-9 card-info-bxh">
                <div class="title-wrapper">
                  <span>Sầu tương tư</span>
                </div>
                <h3 class="subtitle">
                  <a href="">Nhật Phong</a>
                </h3>
              </div>
            </div>
          </div>
          <div class="is-center">
            <button class="show-all">Xem tất cả</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<script>

</script>